.logo {
  background-color: #fff;
  padding: 1em;
  img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
  }
}

.nav {
  border-right: 1px solid #333;
  ul {
    list-style: none;
    border-top: 1px solid #333;

    a {
      display: block;
      font-weight: 500;
      padding: 1em;
      color: #fff;
      border-bottom: 1px solid #333;
      text-decoration: none;

      &:hover, &.active {
        background-color: #333;
      }
    }
  }
}
