@import '../../styles/variables';

.main-header {
  flex: none;

  .header-cozy {
    display: flex;
    padding: 1.5em;
    align-items: center;
    justify-content: flex-end;

    .header-actions {
      flex: 0 1 auto;
      justify-content: flex-end;
      flex-direction: row;
    }
  }
}
